<div class="ui inverted large menu">
<div class = "ui container">
  <a class="active item">
    Chatroom
  </a>
  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
     Account <i class="dropdown icon"></i>
      <div class="menu">
<%= link_to "Log-in", login_path, class: "item" %>
      <a class="item">Logout</a>
        <a class="item">Setting</a>
        <a class="item"> About</a>
      </div>
    </div>
    <div class="item">
        <div class="ui primary button">Sign-up</div>
    </div>
    </div>
  </div>
</div>